body {
    height: 100vh;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background: linear-gradient(109.6deg, rgb(251, 250, 225) 11.2%, rgb(206, 240, 185) 47.5%, rgb(100, 163, 111) 100.2%);
}

h3 {
    text-align: center;
    font-weight: bold;
}

.container {
    width: 95%;
    height: 100vh;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator {
    border: 1px solid lightgray;
    background-color: whitesmoke;
    border-radius: 5px;
    width: 400px;
    margin: auto;
    padding: 0 25px;
    font-size: 1rem;
    font-weight: 100;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
}

.calculator input {
    box-sizing: border-box;
    width: 90%;
    padding: 8px;
    outline: none;
    border-radius: 5px;
    border: 1px solid lightgray;
    border-top-left-radius: 0;
    border-bottom-right-radius: 0;
}

.calculator button {
    width: fit-content;
    padding: 8px;
    outline: none;
    cursor: pointer;
    border: 1px solid lightgrey;
    border-radius: 5px;
    border-top-left-radius: 0;
    border-bottom-right-radius: 0;
    background-color: whitesmoke;
}

.calculator button:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

#quality {
    width: 100%;
    padding: 8px;
    outline: none;
    border-radius: 5px;
    border: 1px solid lightgray;
}

#divider-top {
    border-bottom: 2px solid rgba(211, 211, 211, 0.5);
}

#divider-bottom {
    text-align: center;
    border-top: 2px solid rgba(211, 211, 211, 0.5);
}

#tip-amount {
    visibility: hidden;
    min-width: 250px;
    margin: auto;
    background-color: lightseagreen;
    color: white;
    bottom: 30px;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
}

#tip-amount .show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from{bottom: 0; opacity: 0;}
    to{bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from{bottom: 0; opacity: 0;}
    to{bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from{bottom: 30px; opacity: 1;}
    to{bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from{bottom: 30px; opacity: 1;}
    to{bottom: 0; opacity: 0;}
}